/*Regoli Generali della Pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.backgroundgray {

 background-color: whitesmoke;

}



/*Regole Header*/
header{
    background-color: white;
    height: 100px;
    padding-top: 20px;
}

 header img{
    width: 44px;
    height: 44px;
    vertical-align: middle;
    margin-left: 25px;
    
}

header span{
    font-size: 45px;
    font-weight: bold;
    line-height: 100%;
    vertical-align: middle;
    
}

/*Regole Main Add*/
main{
    width: 30%;
    margin: 30px auto;
    padding: 10px;
    background-color: white;
    height: 400px;
    padding-left: 20px;
    border-radius: 40px;
    padding-left: 20px;
    
}




.add-buttons button {
    margin-left: 6px;
    padding: 7px 10px 7px 10px;
    border-radius: 8px;
    border: none;
}  

