/*Regoli Generali della Pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#backgroundgray {

 background-color: whitesmoke;
  
}



/*Regole Header*/
#head-sfondo{
    background-color: white;
    text-align: initial;
    margin-left: 0%;
    
}

.intestazione img{
    width: 44px;
    height: 44px;
    margin-left: 2%;

}

.intestazione span{
    font-size: 51px;
    font-weight: bold;
    margin-right: 2%;
    
    
}

.add-buttons button {
    margin-left: 6px;
    padding: 7px 10px 7px 10px;
    border-radius: 8px;
    border: none;

}
/*Regole Main Add*/

